# Электронные часы

Дано число n. С начала суток прошло n минут. Определите, сколько часов и минут будут показывать электронные часы в этот момент. Программа должна вывести два числа: количество часов (от 0 до 23) и количество минут (от 0 до 59). Учтите, что число n может быть больше, чем количество минут в сутках.

In [ ]:
n = int(input())
min_for_today = n % 1440

print(min_for_today // 60, min_for_today % 60)

78945
19 45

# Парты

В школе решили набрать три новых математических класса. Так как занятия по математике у них проходят в одно и то же время, было решено выделить кабинет для каждого класса и купить в них новые парты. За каждой партой может сидеть не больше двух учеников. Известно количество учащихся в каждом из трёх классов. Сколько всего нужно закупить парт чтобы их хватило на всех учеников? Программа получает на вход три натуральных числа: количество учащихся в каждом из трех классов.

In [ ]:
class_1 = int(input())
class_2 = int(input())
class_3 = int(input())

print((class_1 // 2 + class_1 % 2) + (class_2 // 2 + class_2 % 2) + (class_3 // 2 + class_3 % 2))

23
16
27
34

# Шнурки

Обувная фабрика собирается начать выпуск элитной модели ботинок. Дырочки для шнуровки будут расположены в два ряда, расстояние между рядами равно a, а расстояние между дырочками в ряду b. Количество дырочек в каждом ряду равно N. Шнуровка должна происходить элитным способом “наверх, по горизонтали в другой ряд, наверх, по горизонтали и т.д.” (см. рисунок). Кроме того, чтобы шнурки можно было завязать элитным бантиком, длина свободного конца шнурка должна быть l. Какова должна быть длина шнурка для этих ботинок?

Программа получает на вход четыре натуральных числа a, b, l и N - именно в таком порядке - и должна вывести одно число - искомую длину шнурка.

![shoelace.gif]()

In [ ]:
a = int(input())
b = int(input())
l = int(input())
N = int(input())

print(a + (2 * b + 2 * a) * (N - 1) + 2 * l)

1
3
6
6
53

# Работа с Pandas и группировкой

Найди, какой продукт в каком магазине дал максимальную суммарную выручку за весь период.

In [ ]:
import pandas as pd

sales = pd.DataFrame({
    'product': ['apple', 'banana', 'apple', 'banana', 'apple'],
    'store': [1, 1, 2, 2, 1],
    'revenue': [100, 80, 120, 90, 110],
    'date': ['2023-01-01', '2023-01-01', '2023-01-01', '2023-01-01', '2023-01-02']
})

sales.head()
top_sales = sales.groupby(by=['product', 'store'])['revenue'].sum().sort_values(ascending=False).reset_index()
top_sales.iloc[0]

product    apple
store          1
revenue      210
Name: 0, dtype: object

Найди долю выручки каждого продукта в общем обороте каждого магазина.

In [ ]:
sales.head()
product_share = sales.groupby(by=['store', 'product'])['revenue'].sum().reset_index()
product_share['share'] = round(product_share['revenue'] / product_share.groupby(by='store')['revenue'].transform('sum'), 3)
product_share.head()

   store product  revenue  share
0      1   apple      210  0.724
1      1  banana       80  0.276
2      2   apple      120  0.571
3      2  banana       90  0.429